@import '~src/definitions';

:host {
  @include panel;
  display: block;
  &.is-small-device {
    ::ng-deep {
      .toggle-help-tooltip:before {
        border-color: transparent;
      }
      .content {
        @include include-corners();
      }
    }
  }
}

cvd-mitigation-bool {
  flex: none;
}

.mobile-control-panel {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
}

.wrapper-col {
  @media screen and (max-width: 500px) {
    ::ng-deep {
      & > .wrapper {
        overflow-x: auto;
      }
    }
  }
}
