@import '~src/definitions';

:host {
  @include panel;
  display: block;

  &.is-small-device {

    padding-left: 0;
    margin-bottom: 0;

    background-color: transparent;

    .background-wrapper {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;

      background-color: $dark-bg-darker;
    }

    &:after {
      display: none;
    }

    ::ng-deep {
      .toggle-help-tooltip:before {
        border-color: transparent;
      }

      .content {
        @include include-corners();
      }
    }
  }
}

cvd-mitigation-bool {
  flex: none;
}

.mobile-control-panel {
  position: relative;
  z-index: 1;

  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper-col {
  @media screen and (max-width: 500px) {
    ::ng-deep {
      & > .wrapper {
        overflow-x: auto;
      }
    }
  }
}
