<cvd-col 
  *ngIf="!isSmallDevice"
  class="wrapper-col"
  [spacing]="3"
  alignItems="stretch"
  [formGroup]="mitigationsService.formGroup">

  <cvd-row [spacing]="3">
    <cvd-mitigation-bool grow formControlName="rrr">Roušky, ruce, rozestupy</cvd-mitigation-bool>
    <cvd-mitigation-bool grow formControlName="bordersClosed">Zavřít hranice</cvd-mitigation-bool>
  </cvd-row>

  <cvd-col [spacing]="3" alignItems="stretch">
    <cvd-mitigation-toggle formControlName="events">Akce</cvd-mitigation-toggle>
    <cvd-mitigation-toggle formControlName="businesses">Služby</cvd-mitigation-toggle>
    <cvd-mitigation-toggle formControlName="schools">Školy</cvd-mitigation-toggle>
  </cvd-col>

  <cvd-row [spacing]="3">
    <cvd-button grow (click)="preset('open')" color="info">Otevřít vše</cvd-button>
    <cvd-mitigation-bool grow formControlName="stayHome">Zákaz vycházení</cvd-mitigation-bool>
    <cvd-mitigation-bool grow formControlName="compensations">Extra kompenzace</cvd-mitigation-bool>
  </cvd-row>

</cvd-col>

<cvd-row 
  *ngIf="isSmallDevice"
  class="mobile-control-panel"
  [spacing]="3"
  alignItems="stretch"
  [formGroup]="mitigationsService.formGroup">

  <cvd-col [spacing]="3" style="margin-left: 2rem;">
    <cvd-row>
      <cvd-mitigation-bool grow formControlName="rrr">Roušky, ruce, rozestupy</cvd-mitigation-bool>
    </cvd-row>
    <cvd-row>
      <cvd-mitigation-bool grow formControlName="bordersClosed">Zavřít hranice</cvd-mitigation-bool>
  </cvd-row>
  </cvd-col>

  <cvd-col [spacing]="3" alignItems="stretch">
    <cvd-mitigation-toggle formControlName="events">Akce</cvd-mitigation-toggle>
    <cvd-mitigation-toggle formControlName="businesses">Služby</cvd-mitigation-toggle>
    <cvd-mitigation-toggle formControlName="schools">Školy</cvd-mitigation-toggle>
  </cvd-col>

  <cvd-col [spacing]="3">
    <cvd-button grow (click)="preset('open')" color="info">Otevřít vše</cvd-button>
    <cvd-mitigation-bool grow formControlName="stayHome">Zákaz vycházení</cvd-mitigation-bool>
    <cvd-mitigation-bool grow formControlName="compensations">Extra kompenzace</cvd-mitigation-bool>
  </cvd-col>

</cvd-row>

<cvd-help-tooltip>
  <h3>Opatření</h3>

  <p>
    Zde naleznete svůj hlavní nástroj k&nbsp;zvládání pandemie.
    Ve hře se také můžete rozhodnout některá opatření kompenzovat &ndash;
    znamená to, že budete vydávat zvláštní zdroje jako kompenzace poškozeným podnikům.
  </p>

  <p>
    Ve hře je pro zjednodušení stát nesmírně efektivní v&nbsp;zavádění a&nbsp;rušení opatření.
    Vše je zavedeno téměř okamžitě a&nbsp;vždy bez technických chyb.
    Toto je zásadní zjednodušení oproti reálnému světu.
    Pamatujte, že nějaký čas trvá, než se opatření na množství nakažených projeví.
  </p>

  <p>
    <em>Opatření o něco snižují šíření viru, ale také stojí peníze a&nbsp;snižují stabilitu ve společnosti.
    Je na vás, jakou strategii zvolíte.
    Snažili jsme se, aby náš model byl co nejférovější a umožnil různé přístupy.
    Můžete například zkusit nasazovat a&nbsp;zase vypínat opatření tak, abyste se vyhnuli vlnám a přetížení nemocnic.</em>
  </p>

  <h3>Popis opatření</h3>
  <dl>
    <dt>Roušky, ruce, rozestupy</dt>
    <dd>
      opatření, které není náročné na náklady a&nbsp;snižuje rychlost šíření infekce
    </dd>

    <dt>Uzavření hranic</dt>
    <dd>
      s výjimkou tranzitní dopravy a&nbsp;několika dalších výjimek se omezuje provoz přes hranice. Opatření snižuje rychlost šíření, ale negativně ovlivňuje náklady a&nbsp;společenskou stabilitu
    </dd>

    <dt>Omezení akcí</dt>
    <dd>
      opatření omezující maximální počet shromážděných lidí. Dopadá na kulturní či sportovní akce a&nbsp;různé oslavy. Negativně ovlivňuje náladu ve společnosti. Rušení akcí a&nbsp;zájezdů se promítá do nákladů zvládání pandemie
    </dd>

    <dt>Služby</dt>
    <dd>
      zavření rizikových provozů zahrnuje restaurace, bary, tělocvičny a podobné služby, kde je vysoké riziko přenosu. Dalším stupněm je pak uzavření všech obchodů a&nbsp;služeb, s&nbsp;výjimkou nezbytných (prodej potravin, paliv, apod.) Obě opatření do určité míry snižují rychlost šíření, ale negativně ovlivňují náklady a&nbsp;společenskou stabilitu
    </dd>

    <dt>Školy</dt>
    <dd>
      zvolte, které školy budou uzavřeny. Vysoké školy snadněji přechází na distanční výuku a&nbsp;náklady na jejich zavření jsou tak menší. Základní školy jsou významným místem setkávání a&nbsp;přenosu, ale jejich zavření silně negativně ovlivňuje náklady a&nbsp;společenskou stabilitu
    </dd>

    <dt>Zákaz vycházení</dt>
    <dd>
      mimo nákupy a&nbsp;cestu do práce je vycházení zásadně omezeno. Výrazně negativně ovlivňuje náladu ve společnosti, jeho udržování je pak velmi nákladné
    </dd>

    <dt>Extra kompenzace</dt>
    <dd>
      vláda již postižené obory finančně kompenzuje, toto opatření kompenzace výrazně zvýší, výsledkem bude méně klesající nebo i&nbsp;stoupající stabilita
    </dd>
  </dl>
</cvd-help-tooltip>
