<cvd-col>
  <h2>{{'Vítejte' | translate}}</h2>

  <p>
    {{'Nacházíte se v simulaci šíření nákazy Covid-19 v ČR.' | translate}}
  </p>

  <div [innerHtml]="'intro.html' | translate"></div>

  <p>
    {{'Chcete vědět více' | translate}}
    <a routerLink="/credits">{{'o tom, kdo za simulací stojí' | translate}}</a>?
  </p>

  <p>
    {{'Chcete vědět víc' | translate}}
    <a id="aboutModel" routerLink="/about">{{'o našem modelu a metodice' | translate}}</a>?
  </p>

  <p>
    {{'Kontakt na tvůrce' | translate}}:
    <a href="mailto:info@koronahra.cz">info@koronahra.cz</a>
  </p>

  <p>
    {{'Přejeme, ať se vám v boji s koronavirem daří!' | translate}}
  </p>

  <cvd-row [horizontalSpacing]="3">
    <cvd-button
      themePalette="accent"
      type="raised"
      *ngIf="!gameService.isLocalStorageGame(); else savedGameOptions"
      [cvdAutofocus]="true"
      (click)="loadNewGame()"
      routerLink="/game">
      {{'Hrát' | translate}}
    </cvd-button>

    <cvd-button
      (click)="loadNewGame('czechiaB117')"
      routerLink="/game">
      {{'Česko současnost' | translate}}
    </cvd-button>
  </cvd-row>

  <ng-template #savedGameOptions>
    <cvd-button
      themePalette="accent"
      [cvdAutofocus]="true"
      type="raised"
      (click)="loadSave()"
      routerLink="/game">{{'Pokračovat v poslední hře' | translate}}
    </cvd-button>

    <cvd-button
      (click)="loadNewGame()"
      routerLink="/game">
      {{'Hrát novou hru' | translate}}
    </cvd-button>
  </ng-template>

</cvd-col>
