<cvd-col>
  <h2>{{'Vítejte' | translate}}</h2>

  <p>
    {{'intro.p1' | translate}}
  </p>

  <p>
    Simulace vznikla na základě modelu, o&nbsp;kterém se můžete dozvědět více <a routerLink="/about">zde</a>.
    Umožní vám dostat se do role vlády, která rozhoduje o&nbsp;tom, jaká proticovidová opatření budou zavedena.
    Vyzkoušíte si řešení situací spjatých s&nbsp;řešením epidemie koronaviru a&nbsp;přehledně uvidíte následky jednotlivých kroků.
    Simulace je postavená na přibližně desetimilionový stát v&nbsp;Evropě,
    z&nbsp;čehož vyplývají některá specifika (například veřejnost reaguje negativně na omezení
    a&nbsp;není možné se zcela izolovat od světa).
  </p>

  <p>
    Hra končí buď tím, že je dostatek obyvatel státu imunní, nebo tím, že je společnost tak nespokojená,
    že již nemůžete vládnout. Všechno ostatní je ale na vás &ndash; to, co považujete za optimální strategii
    a&nbsp;dobrý výsledek je vaše rozhodnutí.
  </p>

  <p>
    Chcete vědět více
    <a routerLink="/credits">o tom, kdo za simulací stojí</a>?
  </p>

  <p>
    Chcete vědět víc
    <a routerLink="/about">o našem modelu a metodice</a>?
  </p>

  <p>
    Přejeme, ať se vám v boji s koronavirem daří!
  </p>

  <cvd-row [horizontalSpacing]="3">
    <cvd-button
      themePalette="accent"
      type="raised"
      *ngIf="!gameService.isLocalStorageGame(); else savedGameOptions"
      [cvdAutofocus]="true"
      (click)="loadNewGame()"
      routerLink="/game">
      Hrát
    </cvd-button>
  </cvd-row>

  <ng-template #savedGameOptions>
    <cvd-button
      themePalette="accent"
      [cvdAutofocus]="true"
      type="raised"
      (click)="loadSave()"
      routerLink="/game">Pokračovat v poslední hře
    </cvd-button>

    <cvd-button
      (click)="loadNewGame()"
      routerLink="/game">
      Hrát novou hru
    </cvd-button>
  </ng-template>

</cvd-col>
