<cvd-col>
  <h2>Vítejte</h2>

  <p>
    Nacházíte se v&nbsp;simulaci šíření nákazy Covid-19 v&nbsp;ČR.
  </p>

  <p>
    Simulace vznikla na základě modelu, o&nbsp;kterém se můžete dozvědět více <a routerLink="/about">zde</a>.
    Umožní vám dostat se do role vlády, která rozhoduje o&nbsp;tom, jaká proticovidová opatření budou zavedena.
    Vyzkoušíte si řešení situací spjatých s&nbsp;řešením epidemie koronaviru a&nbsp;přehledně uvidíte následky jednotlivých kroků.
    Simulace je postavená na přibližně deseti milionový stát v&nbsp;Evropě,
    z&nbsp;čehož vyplývají některá specifika (například veřejnost reaguje negativně na omezení
    a&nbsp;zároveň není možné se zcela izolovat od světa).
  </p>

  <p>
    Po skončení simulace vám ukážeme jednoduchý přehled toho,
    jak jste si v&nbsp;této hře vedli a&nbsp;zároveň budete moci sdílet odkaz s&nbsp;přáteli a&nbsp;porovnat s&nbsp;nimi své výsledky.
    Hra končí buď tím, že je dostatek obyvatel státu imunní nebo tím, že je společnost tak nespokojená,
    že již vládnout nemůžete. Všechno ostatní je ale na vás &ndash; to, co považujete za optimální strategii
    a&nbsp;dobrý výsledek je vaše rozhodnutí. Budete rozhodovat také nejen o&nbsp;opatřeních, ale bude třeba reagovat
    na různé náhodné krize.
    Těch ve hře také uvidíte jen šestinu možných a&nbsp;spousta jich navíc záleží na vašich krocích.
    Může tak být zajímavé zkoušet různé strategie či to probrat s přáteli.
  </p>

  <p>
    Chcete vědět více
    <a routerLink="/credits">o tom, kdo za simulací stojí</a>?
  </p>

  <p>
    Chcete vědět víc
    <a routerLink="/about">o našem modelu a metodice</a>?
  </p>

  <p>
    Přejeme, ať se vám v boji s koronavirem daří!
  </p>

  <cvd-row [horizontalSpacing]="3">
    <cvd-button
      themePalette="accent"
      type="raised"
      *ngIf="!gameService.isLocalStorageGame(); else savedGameOptions"
      [cvdAutofocus]="true"
      (click)="loadNewGame()"
      routerLink="/game">
      Hrát
    </cvd-button>
  </cvd-row>

  <ng-template #savedGameOptions>
    <cvd-button
      themePalette="accent"
      [cvdAutofocus]="true"
      type="raised"
      (click)="loadSave()"
      routerLink="/game">Pokračovat v poslední hře
    </cvd-button>

    <cvd-button
      (click)="loadNewGame()"
      routerLink="/game">
      Hrát novou hru
    </cvd-button>
  </ng-template>

</cvd-col>
