<mat-spinner *ngIf="!(isGameReady$ | async)" style="margin:auto"></mat-spinner>
<cvd-col *ngIf="isGameReady$ | async" [verticalSpacing]="4" alignItems="stretch" style="padding: 2rem">

  <div *ngIf="isGameLost()">
    <h1>{{'Vláda padla kvůli fatálnímu neúspěchu při řešení koronavirové krize' | translate}}</h1>
  </div>

  <div *ngIf="!isGameLost()">
    <h1>{{'Vaše hra v roli vlády skončila' | translate}}</h1>
    <div>
      {{'Začíná léto 2021 a naše simulace zde končí. Nedokážeme vidět tak daleko do budoucnosti, abychom ji mohli smysluplně a zajímavě simulovat.' | translate}}
    </div>
  </div>

  <cvd-scatter-graph *ngIf="(datasets$ | async) as datasets"
    [options]="outroChartOptions" [datasets]="datasets"
  ></cvd-scatter-graph>

  <cvd-graphs></cvd-graphs>

  <div class="content">
    <ng-content></ng-content>
  </div>

  <cvd-col *ngIf="stats" [spacing]="2" alignItems="flex-start">
    <div [innerHtml]="'outro.html' | translate:i18nData"></div>

    <p>
      {{'Pokud vás více zajímá, jak naše vzorce fungují, koukněte' | translate}}
      <a routerLink="/about">{{'sem' | translate}}</a>.
    </p>

    <p>
      {{'Chcete vědět více' | translate}} <a routerLink="/credits">{{'o tom, kdo za simulací stojí' | translate}}</a>?
    </p>
  </cvd-col>

  <cvd-col *ngIf="isMyGame">
    <cvd-row>
      <h4>{{'Sdílejte svůj výsledek s přáteli' | translate}}</h4>
    </cvd-row>

    <cvd-row [spacing]="2" wrap>
      <cvd-button (click)="shareService.shareTwitter(completeUrl)">
        <cvd-icon svgIcon="twitter"></cvd-icon>
        Twitter
      </cvd-button>

      <cvd-button (click)="shareService.shareFacebook(completeUrl)">
        <cvd-icon svgIcon="facebook"></cvd-icon>
        Facebook
      </cvd-button>

      <cvd-button (click)="shareService.shareLinkedIn(completeUrl)">
        <cvd-icon svgIcon="linkedin"></cvd-icon>
        LinkedIn
      </cvd-button>
    </cvd-row>
  </cvd-col>

  <cvd-col>
    <cvd-button
      routerLink="/game"
      themePalette="primary"
      type="raised"
      (click)="gameService.restartSimulation()">
      <ng-container *ngIf="isMyGame">{{'Hrát znovu a lépe' | translate}}</ng-container>
      <ng-container *ngIf="!isMyGame">{{'Hrát lépe' | translate}}</ng-container>
    </cvd-button>
  </cvd-col>
</cvd-col>
