:host {
  padding: 0.5rem;
}

button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-shadow: unset;
  }
}
