@import '../../../../definitions';

:host {
  @include flex-container;
  position: relative;
}

.slider {
  position: absolute;
  left: 6rem;
  top: -0.5rem;
  z-index: 100;

  label {
    margin-left: 0.8rem;
  }
}

.chart {
  position: relative;
  min-height: unset;
}
