<cvd-col alignItems="stretch" [formGroup]="mitigationsService.formGroup">

  <cvd-col style="align-self: center" alignItems="stretch">
    <cvd-mitigation-slide formControlName="rrr">Roušky, ruce, rozestupy</cvd-mitigation-slide>
    <cvd-mitigation-slide formControlName="bordersClosed">Zavřít hranice</cvd-mitigation-slide>
  </cvd-col>

  <cvd-mitigation-toggle formControlName="events">Akce</cvd-mitigation-toggle>
  <cvd-mitigation-toggle formControlName="businesses">Služby</cvd-mitigation-toggle>
  <cvd-mitigation-toggle formControlName="schools">Školy</cvd-mitigation-toggle>

  <cvd-row>
    <cvd-button grow (click)="preset('lockdown')" style="padding-top: 1rem" color="warn">Lockdown</cvd-button>
    <cvd-button grow (click)="preset('open')" style="padding-top: 1rem" color="info">Otevřít vše</cvd-button>
  </cvd-row>

</cvd-col>
