<cvd-col alignItems="stretch" [formGroup]="mitigationsService.formGroup">

  <cvd-mitigation-bool formControlName="rrr">Roušky, ruce, rozestupy</cvd-mitigation-bool>
  <cvd-mitigation-bool formControlName="bordersClosed">Hranice</cvd-mitigation-bool>

  <cvd-mitigation-toggle formControlName="events" labelMinWidth="14rem">Akce</cvd-mitigation-toggle>
  <cvd-mitigation-toggle formControlName="businesses">Služby</cvd-mitigation-toggle>
  <cvd-mitigation-toggle formControlName="schools">Školy</cvd-mitigation-toggle>

  <cvd-button (click)="preset('lockdown')" style="padding-top: 1rem" color="warn">Lockdown</cvd-button>

</cvd-col>
