<div class="credits">
  <h1>{{'Tvůrci' | translate}}</h1>
  <div class="content">
    <div class="box">
      <h3>{{'Námět, Projekt Management' | translate}}</h3>
      <mat-divider></mat-divider>
      <div>Michal Beneš</div>
    </div>

    <div class="box">
      <h3>{{'Programování, grafika' | translate}}</h3>
      <mat-divider></mat-divider>

      <a href="https://swehq.com/" target="_blank">
        <img
          width="150px"
          src="assets/images/logos/swehq.png"
          alt="SWEHQ">
      </a>
      <div>
        <a href="https://www.linkedin.com/in/johnwalter/" target="_blank">Jan Walter</a>
      </div>
      <div>Jaroslav Soldát</div>
      <div>Magdalena Čálková</div>
      <div>Pavel Zemek</div>
      <div>Petr Koucký</div>
      <div>Zdeněk Haták</div>

      <br/>
      <div><em>{{'Logo, ikony' | translate}}</em></div>
      <div>Martin Procházka</div>
    </div>

    <div class="box">
      <h3>{{'Game Design' | translate}}</h3>
      <mat-divider></mat-divider>
      <div><em>{{'Lead Game Designer' | translate}}</em></div>
      <div>David František Wagner</div>
      <br/>
      <div><em>{{'Game Design' | translate}}</em></div>
      <div>Jana Unzeitigová</div>
      <br/>
      <div><em>{{'Ekonomický Model' | translate}}</em></div>
      <div>Daniel Kolář</div>
    </div>

    <div class="box">
      <h3>{{'Epidemiologická Simulace' | translate}}</h3>
      <mat-divider></mat-divider>
      <div>Michal Beneš</div>
      <div>
        <a href="http://wonderland.cz/" target="_blank">
          wonderland.cz
        </a>
      </div>
      <br/>
      <div>
        Bořivoj Kronowetter<br>
        <a href="https://www.fjfi.cvut.cz/" target="_blank">
          <img src="assets/images/logos/fjfi.png" alt="FJFI ČVUT">
        </a>
        <br>
        <a
          href="http://matematika.fjfi.cvut.cz/"
          target="_blank">
          <img
            src="assets/images/logos/matematika_pro_zivot.png"
            alt="Matematika pro život">
        </a>
      </div>
    </div>

    <div class="box">
      <h3>{{'Konzultace Epidemiologického Modelu' | translate}}</h3>
      <mat-divider></mat-divider>

      <div>Jan Kulveit</div>
      <div>Tomáš Gavenčiak</div>
    </div>

    <div class="box">
      <h3>{{'Použitý Software' | translate}}</h3>
      <mat-divider></mat-divider>

      <div>
        <a href="https://angular.io/" target="_blank">Angular</a><br>
        <a href="https://www.chartjs.org/" target="_blank">Chart.js</a><br>
        {{'Mongodb, Docker, Ansible a další' | translate}}
      </div>
    </div>

    <div class="box">
      <h3>{{'Speciání Poděkování' | translate}}</h3>
      <mat-divider></mat-divider>
      <div>{{'Jan Vybíral za nakopnutí' | translate}}</div>
      <div>{{'Jiří Vaněk za nadšené spojení Michala a SWEHQ' | translate}}</div>
      <div>{{'Manželky, manželé, partneři, děti za trpělivost' | translate}}</div>
    </div>
  </div>

  <cvd-button cvdNavigateBack>
    <cvd-icon>undo</cvd-icon>
    {{'Zpět' | translate}}
  </cvd-button>
</div>
