<div class="credits">
  <h1>Tvůrci</h1>
  <div class="content">
    <div class="box">
      <h3>Námět, Projekt Management</h3>
      <mat-divider></mat-divider>
      <div>Michal Beneš</div>
    </div>

    <div class="box">
      <h3>Programování</h3>
      <mat-divider></mat-divider>

      <a href="https://swehq.com/" target="_blank">
        <img
          src="assets/images/logos/swehq.png"
          alt="SWEHQ">
      </a>
      <div>Jan Walter</div>
      <div>Jaroslav Soldát</div>
      <div>Magdalena Čálková</div>
      <div>Pavel Zemek</div>
      <div>Petr Koucký</div>
      <div>Zdeněk Haták</div>
    </div>

    <div class="box">
      <h3>Lead Game Designer</h3>
      <mat-divider></mat-divider>
      <div>David František Wagner</div>
    </div>

    <div class="box">
      <h3>Epidemiologická Simulace</h3>
      <mat-divider></mat-divider>
      <div>Michal Beneš</div>
      <div>
        <a href="http://wonderland.cz/" target="_blank">
          wonderland.cz
        </a>
      </div>
      <br/>
      <div>
        Bořivoj Kronowetter<br>
        <a href="https://www.fjfi.cvut.cz/" target="_blank">
          <img src="assets/images/logos/fjfi.png" alt="FJFI ČVUT">
        </a>
        <br>
        <a
          href="https://matematika.fjfi.cvut.cz/"
          target="_blank">
          <img
            src="assets/images/logos/matematika_pro_zivot.png"
            alt="Matematika pro život">
        </a>
      </div>
    </div>

    <div class="box">
      <h3>Game Design</h3>
      <mat-divider></mat-divider>

      <div>Jana Unzeitigová</div>
    </div>

    <div class="box">
      <h3>Ekonomický Model</h3>
      <mat-divider></mat-divider>

      <div>David František Wagner</div>
      <div>Daniel Kovář</div>
    </div>

    <div class="box">
      <h3>Konzultace Epidemiologického Modelu</h3>
      <mat-divider></mat-divider>

      <div>Jan Kulveit</div>
      <div>Tomáš Gavenčiak</div>
    </div>

    <div class="box">
      <h3>Testování</h3>
      <mat-divider></mat-divider>

      <div>[TODO]</div>
    </div>

    <div class="box">
      <h3>Použitý Software</h3>
      <mat-divider></mat-divider>

      <div>
        <a href="https://angular.io/" target="_blank">Angular</a><br>
        <a href="https://www.chartjs.org/" target="_blank">Chart.js</a><br>
      </div>
    </div>

    <div class="box">
      <h3>Speciání Poděkování</h3>
      <mat-divider></mat-divider>
      <div>Jan Vybíral za nakopnutí</div>
      <div>Manželky, manželé, partneři, děti za trpělivost</div>
    </div>
  </div>

  <cvd-button cvdNavigateBack>
    <cvd-icon>undo</cvd-icon>
    Zpět
  </cvd-button>
</div>
