<h3>Návod</h3>

<div id="upozorneni">Tato jednoduchá hra není simulací skutečné epidemie, slouží pro vybudování intuice
  o chování jejího matematického modelu.
  Oficiální informace týkající se epidemie COVID-19 v ČR najdete na
  <a href="https://onemocneni-aktualne.mzcr.cz/covid-19" target="_blank">onemocneni-aktualne.mzcr.cz</a>.
</div>

<div id="navod">Hru spustíte tlačítkem PLAY v pravém dolním rohu. Hrajete z pozice vlády.
  Během hry přepínáte úrovně protiepidemických opatření PES.
  U úrovní PES-1 a PES-2 můžete sami vybrat jednotlivá opatření
  (PES-0 znamená žádná opatření a PES-3 znamená všechna opatření).
  Hru můžete kdykoliv pozastavit a znovu spustit tlačítkem PLAY/PAUSE v pravém dolním rohu.<br><br>
  Pozor, při přetížení nemocnic se zdvojnásobí smrtnost.
  Hra končí vakcinací a rozřešením zbývajících případů.<br><br>
  V každé hře jsou parametry chování epidemie vylosovány náhodně.
  Cílem hry je vybudovat kvalitativní intuici o chování
  epidemiologického modelu SIR, rozhodování v nejistotě a vyvažování ekonomiky vs. životů.<br><br>
  Nezapomeňte, že stejně jako vláda dostáváte data zpožděně od reality. Musíte se rozhodnout, které údaje
  jsou důležité a nejvíce vypovídají o aktuální situaci.
</div>

<div style="padding-top: 2rem">
  <ng-content></ng-content>
</div>
