@import '~src/definitions';

.chart-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $dark-bg-alpha-90;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 60%;
  z-index: 100;
  color: $light-text;
  border: 2px solid mat-color(map-get($theme, warn));
  padding: 1.1rem;
  text-align: center;
}

.chart-overlay-title {
  font-size: 2rem;
  line-height: 150%;
}
