<div
  cdkTrapFocus [cdkTrapFocusAutoCapture]="true"
  class="chart-overlay"
  [@inOutAnimation]
  *ngIf="gameService.event">
  <h1>
    {{gameService.event.title}}
  </h1>

  <cvd-row [grow]="2" *ngIf="gameService.event.text">
    <div [innerHtml]="gameService.event.text | safeHtml"></div>
  </cvd-row>

  <cvd-row [grow]="2" *ngIf="gameService.event.help" class="chart-overlay-help">
    <div [innerHtml]="gameService.event.help | safeHtml"></div>
  </cvd-row>

  <cvd-row grow>
    <cvd-button
      *ngFor="let choice of gameService.event.choices"
      (click)="resumeEvent(gameService.event, choice)">
      {{choice.label}}
    </cvd-button>

    <cvd-button
      *ngIf="!gameService.event.choices?.length"
      cdkFocusInitial
      (click)="resumeEvent(gameService.event)">
      Ok
    </cvd-button>
  </cvd-row>
</div>
