<div
  cdkTrapFocus [cdkTrapFocusAutoCapture]="true"
  class="chart-overlay"
  [@inOutAnimation]
  *ngIf="gameService.event">
  <cvd-row grow class="chart-overlay-title">
    {{gameService.event.title}}
  </cvd-row>

  <cvd-row [grow]="2" *ngIf="gameService.event.text">
    {{gameService.event.text}}
  </cvd-row>

  <cvd-row [grow]="2" *ngIf="gameService.event.help">
    <small>{{gameService.event.help}}</small>
  </cvd-row>

  <cvd-row grow>
    <cvd-button
      *ngFor="let mitigation of gameService.event.mitigations"
      (click)="resumeEvent(mitigation)">
      {{mitigation.label}}
    </cvd-button>

    <cvd-button
      *ngIf="!gameService.event.mitigations?.length"
      cdkFocusInitial
      (click)="resumeEvent()">
      Ok
    </cvd-button>
  </cvd-row>
</div>
