:host {
  display: block;

  ::ng-deep {
    cvd-line-graph,
    cvd-status-display,
    cvd-mitigations-control {
      transition: opacity 300ms;
    }
  }

  &.is-event-active {
    ::ng-deep {
      cvd-line-graph > cvd-col,
      cvd-status-display > cvd-row,
      cvd-mitigations-control > cvd-col {
        opacity: 0.8;
      }
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: row wrap;
}
