<cvd-col *ngIf="state === 'intro'">
  <cvd-intro>
    <cvd-button grow (click)="state = 'game'" color="warn">Hrát</cvd-button>
  </cvd-intro>
</cvd-col>

<cvd-col *ngIf="state === 'game'">
  <cvd-news></cvd-news>

  <cvd-row [spacing]="3" wrap alignItems="flex-start">

    <cvd-col class="graph" [grow]="2" [spacing]="3" alignItems="stretch" justifyContent="flex-start">
      <cvd-graphs></cvd-graphs>
      <cvd-simulation-control *ngIf="debugModeService.getDebugMode()"></cvd-simulation-control>
    </cvd-col>

    <cvd-col grow [spacing]="3" alignItems="stretch">
      <cvd-status-display></cvd-status-display>
      <cvd-mitigations-control></cvd-mitigations-control>
    </cvd-col>

  </cvd-row>
</cvd-col>

<cvd-col *ngIf="state === 'outro'">
  <cvd-outro></cvd-outro>
</cvd-col>
