<cvd-row wrap>
  <div>Dnes je {{today}}</div>
  <div grow></div>
  <cvd-speed-control [formControl]="speedFormControl"></cvd-speed-control>
</cvd-row>

<mat-divider></mat-divider>

<cvd-row wrap alignItems="flex-start" [spacing]="2">
  <cvd-col grow class="chapter" alignItems="center">
    <cvd-row class="item">
      <cvd-icon>thumbs_up_down</cvd-icon>
        <span class="u-nowrap">Společenská stabilita</span>
        <mat-chip-list>
          <mat-chip selected [color]="getColor$(stat$('stability'), 65, 35) | async">{{stat$('stability') | async | formatNumber:false:false:1}}</mat-chip>
        </mat-chip-list>
    </cvd-row>
  </cvd-col>

  <cvd-col grow class="chapter" alignItems="center">
    <cvd-row class="item">
      <cvd-icon svgIcon="hospital"></cvd-icon>
        <span class="u-nowrap">Vytíženost nemocnic</span>
        <mat-chip-list>
          <mat-chip selected [color]="getColor$(stat$('hospitalsUtilization'), .7, .9) | async">{{stat$('hospitalsUtilization') | async | formatPercentage}}</mat-chip>
        </mat-chip-list>
    </cvd-row>
  </cvd-col>
</cvd-row>

<cvd-help-tooltip>
  <h3>Základní statistiky a rychlost hry</h3>

  <p>
    Zde můžete sledovat dvě důležitá čísla: hodnotu společenské stability a kapacitu nemocnic.
    Zároveň vám tento panel umožňuje hru zrychlovat, zpomalovat nebo případně pozastavit tlačítkem pauza.
  </p>

  <ul>
    <li>
      <strong>Společenská stabilita:</strong>
      reakce společnosti na vaše kroky. Pokud zavádíte příliš omezující opatření,
      nebo naopak umírá příliš lidí, může dojít k výměně vlády a hra skončí.
    </li>
    <li>
      <strong>Kapacita nemocnic:</strong>
      pokud překročíte kapacitu nemocnic, zhorší se péče o nemocné a zemřelých tak bude přibývat více.
    </li>
  </ul>

  <p>
    <em>Zvláštní pozornost věnujte ukazateli společenské stability.
    Její propad na minimum je jediný způsob, jak může vaše hra skončit ještě před dostatečnou imunizací.</em>
  </p>
</cvd-help-tooltip>
