<div class="credits">

    <h1>Tvůrci</h1>

    <div class="content">
      <div class="box">
        <h2>Námět, Projekt Management</h2>
        <p>
          Michal Beneš
        </p>
      </div>

      <div class="box">
        <h2>Lead Programmer</h2>
        <p>
          Jan Walter<br>
          <a
            href="https://swehq.com/"
            target="_blank">
            <img
              src="assets/images/logos/SWEHQ_logo-2_wh.png"
              alt="SWEHQ"
              style="width: 8em">
          </a>
        </p>
      </div>

      <div class="box">
        <h2>Lead Game Designer</h2>
        <p>
          David František Wagner
        </p>
      </div>

      <div class="box">

        <h2>Epidemiologická Simulace</h2>
        <p>
          Michal Beneš<br>
          <a href="http://wonderland.cz/" target="_blank">http://wonderland.cz/</a>
        </p>
        <p>
          Bořivoj Kronowetter<br>
          <a href="https://www.fjfi.cvut.cz/" target="_blank"><img src="assets/images/logos/FJFI_logo.png" alt="FJFI ČVUT" style="height: 3em"></a>
          &nbsp;
          <a
            href="https://matematika.fjfi.cvut.cz/"
            target="_blank">
            <img
            src="assets/images/logos/Matematika_pro_zivot.jpg"
            alt="Matematika pro život"
            style="height: 3em">
          </a>
        </p>
      </div>

      <!-- <h2>Programování (v abecedním pořadí)</h2>

      <ul>
        <li>
          Jaroslav Soldát
        </li>

        <li>
          Magdalena Čálková
        </li>

        <li>
          Pavel Zemek
        </li>

        <li>
          Petr Koucký
        </li>

        <li>
          Zdeněk Haták
        </li>
      </ul>

      <h2>Game Design</h2>
      <p>
        Jana Unzeitigová
      </p>

      <h2>Ekonomický Model</h2>
      <p>
        David František Wagner
      </p>
      <p>
        Daniel Kovář
      </p>

      <h2>Konzultace Epidemiologického Modelu</h2>
      <p>
        Jan Kulveit
      </p>
      <p>
        Tomáš Gavenčiak
      </p>

      <h2>Testování</h2>

      <h2>Použitý Software</h2>
      <p>
        <a href="https://angular.io/" target="_blank">Angular</a><br>
        <a href="https://www.chartjs.org/" target="_blank">Chart.js</a><br>
      </p>

      <h2>Speciání Poděkování</h2>
      <p>
        Jan Vybíral za nakopnutí<br>
        Manželky, manželé, partneři, děti za trpělivost
      </p> -->
    </div>

    <cvd-button cvdNavigateBack>
      Zpět
    </cvd-button>
  </div>
