<cvd-col class="credits">

    <h1>Credits</h1>

    <h2>Námět, Projekt Management</h2>
    <p>
      Michal Beneš
    </p>

    <h2>Lead Programmer</h2>
    <p>
      Jan Walter<br>
      <a href="https://swehq.com/" target="_blank"><img src="assets/images/logos/SWEHQ_logo-2_wh.png" alt="SWEHQ" style="width: 8em"></a>
    </p>

    <h2>Lead Game Designer</h2>
    <p>
      David František Wagner
    </p>

    <h2>Epidemiologická Simulace</h2>
    <p>
      Michal Beneš<br>
      <a href="http://wonderland.cz/" target="_blank">http://wonderland.cz/</a>
    </p>
    <p>
      Bořivoj Kronowetter<br>
      <a href="https://www.fjfi.cvut.cz/" target="_blank"><img src="assets/images/logos/FJFI_logo.png" alt="FJFI ČVUT" style="height: 3em"></a>
      &nbsp;
      <a href="https://matematika.fjfi.cvut.cz/" target="_blank"><img src="assets/images/logos/Matematika_pro_zivot.jpg" alt="Matematika pro život" style="height: 3em"></a>
    </p>

    <h2>Programování (v abecedním pořadí)</h2>

    <p>
      Jaroslav Soldát
    </p>
    <p>
      Magdalena Čálková
    </p>
    <p>
      Pavel Zemek
    </p>
    <p>
      Petr Koucký
    </p>
    <p>
      Zdeněk Haták
    </p>

    <h2>Game Design</h2>
    <p>
      Jana Unzeitigová
    </p>

    <h2>Ekonomický Model</h2>
    <p>
      David František Wagner
    </p>
    <p>
      Daniel Kovář
    </p>

    <h2>Konzultace Epidemiologického Modelu</h2>
    <p>
      Jan Kulveit
    </p>
    <p>
      Tomáš Gavenčiak
    </p>

    <h2>Testování</h2>

    <h2>Použitý Software</h2>
    <p>
      <a href="https://angular.io/" target="_blank">Angular</a><br>
      <a href="https://www.chartjs.org/" target="_blank">Chart.js</a><br>
    </p>

    <h2>Speciání Poděkování</h2>
    <p>
      Jan Vybíral za nakopnutí<br>
      Manželky, manželé, partneři, děti za trpělivost
    </p>

    <cvd-button cvdNavigateBack>Zpět</cvd-button>
</cvd-col>
