<cvd-col grow>
  <cvd-row grow justifyContent="flex-end" alignItems="center" style="width: 100%">
    <cvd-mitigation-scale [formControl]="scopeFormControl" [levels]="scaleLevels"></cvd-mitigation-scale>

    <div class="pan-arrows">
      <button
        mat-icon-button
        (click)="pan.applyPan('left')"
        [disabled]="pan.getDisability('left')"
        [matTooltip]="'Posunout vlevo' | translate"
        class="left-pan-arrow">
        <cvd-icon svgIcon="panLeft"></cvd-icon>
      </button>

      <button
        mat-icon-button
        [matTooltip]="'Posunout vpravo' | translate"
        (click)="pan.applyPan('right')"
        [disabled]="pan.getDisability('right')">
        <cvd-icon svgIcon="panRight"></cvd-icon>
      </button>

      <button [ngClass]="{'blinking': pan.autoResetIndicator}" mat-icon-button
              [matTooltip]="'Posunout na konec' | translate"
              (click)="pan.reset()" [disabled]="pan.getDisability('right')"
              class="right-pan-arrow">
        <cvd-icon svgIcon="panEnd"></cvd-icon>
      </button>
      <div *ngIf="pan.autoResetIndicator" class="indicator"></div>
    </div>
  </cvd-row>

  <cvd-row style="width: 100%">
    <div class="chart">
      <div class="chart-inner">
        <canvas baseChart [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="'line'"></canvas>
      </div>
    </div>
  </cvd-row>
</cvd-col>
