@import '~src/definitions';

:host {
  display: block;

  ::ng-deep {
    cvd-line-graph,
    cvd-status-display,
    cvd-mitigations-control {
      transition: opacity 300ms;
    }
  }

  &.is-event-active {
    ::ng-deep {
      cvd-line-graph > cvd-col,
      cvd-status-display > cvd-row,
      cvd-mitigations-control > cvd-col {
        opacity: 0.8;
      }
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;

  &:first-child {
    padding-right: 1rem;
  }

  &:last-child {
    padding-left: 1rem;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;

    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

cvd-mitigations-control,
cvd-graphs,
cvd-status-display {
  margin-bottom: 2rem;
}

.open-above-panel-space {
  padding-bottom: 3rem;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: flex-start;
  display: flex;
  flex: 1;
}

.open-mitigation-button {
  right: 3rem;

  background-color: map-get($mat-primary, main);
  pointer-events: auto;

  cvd-icon {
    color: $dark-bg-darker;
  }
}

.close-above-panel-space {
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: flex-start;
  display: flex;
  flex: 1;
}

.close-mitigation-button {
  padding: 1rem;
  background-color: $dark-bg-darker;
  border-radius: 0;

  cvd-icon {
    color: map-get($mat-warn, main);
  }
}

.enable-background {
  pointer-events: none;
}

.mobile-mitigation-panel-box {
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex: 1;
  left: 0px;
  position: fixed;
  width: 100vw;
  max-height: fit-content;
  bottom: 0%;
  z-index: 102;
}