<div class="content"[@inOutAnimation]>
<!-- [grow]="2" [spacing]="3" alignItems="stretch" justifyContent="flex-start" -->
  
    <div [ngClass]="{'col': !isSmallDevice}">
      <cvd-status-display></cvd-status-display>
      <cvd-graphs></cvd-graphs>
    </div>
    <div [ngClass]="{'col': !isSmallDevice}">
      <div [ngClass]="{'mobile-mitigation-panel-box': isSmallDevice}">
        <cvd-button *ngIf="isSmallDevice" (click)="onHideMitigations()" class="mitigation-button">
          <cvd-icon svgIcon="twoSpeed" *ngIf="areMitigationsHidden" style="transform: rotate(-90deg);"></cvd-icon>
          <cvd-icon svgIcon="twoSpeed" *ngIf="!areMitigationsHidden" style="transform: rotate(90deg);"></cvd-icon>
        </cvd-button>
        <cvd-mitigations-control *ngIf="!areMitigationsHidden" [ngClass]="{'mobile-mitigation-panel': isSmallDevice}" [isSmallDevice]="isSmallDevice"></cvd-mitigations-control>
      </div>
      <cvd-simulation-control *ngIf="debugModeService.getDebugMode()"></cvd-simulation-control>
    </div>
    <cvd-col *ngIf="isSmallDevice" style="height: 50vh;"></cvd-col>
</div>
