<div class="content"[@inOutAnimation]>
<!-- [grow]="2" [spacing]="3" alignItems="stretch" justifyContent="flex-start" -->
  
    <div class="col">
      <cvd-status-display></cvd-status-display>
      <cvd-graphs></cvd-graphs>
    </div>
    <div [class.col]="!isSmallDevice">
      <div 
        [class.mobile-mitigation-panel-box]="isSmallDevice"
        [class.enable-background]="areMitigationsHidden">

        <div
          grow 
          *ngIf="isSmallDevice"
          [ngClass]="(areMitigationsHidden)?'open-above-panel-space':'close-above-panel-space'">
          
          <button mat-fab
          (click)="onHideMitigations()"
          class="open-mitigation-button"
          *ngIf="areMitigationsHidden">
          <cvd-icon svgIcon="controller" size="large"></cvd-icon>
          </button>
          <div *ngIf="!areMitigationsHidden" class="dark-box">
            <a mat-button
              (click)="onHideMitigations()"
              class="close-mitigation-button">
              <cvd-icon svgIcon="cross" size="large"></cvd-icon>
            </a>
          </div>
          
        </div>
        <cvd-mitigations-control 
          *ngIf="!areMitigationsHidden" 
          [class.mobile-mitigation-panel]="isSmallDevice" 
          [isSmallDevice]="isSmallDevice">
        </cvd-mitigations-control>
      </div>

      <cvd-simulation-control *ngIf="debugModeService.getDebugMode()"></cvd-simulation-control>
    </div>
</div>
