<app-row wrap>
  <app-chart [series]="[{label: 'nově nakažení', unit: 'tis.'}]"></app-chart>
  <app-chart [series]="[{label: 'nově nakažených za poslední měsíc', unit: 'tis.'}]"></app-chart>
  <app-chart [series]="[{label: 'nově nakažených - 7 denní průměr', unit: 'tis.'}]"></app-chart>
  <app-chart [series]="[{label: 'aktuální smrtnost', unit: '%'}]"></app-chart>
  <app-chart [series]="[{label: 'aktuálně nakažených', unit: 'tis'}]"></app-chart>
  <app-chart [series]="[{label: 'nová úmrtí'}]"></app-chart>
  <app-chart [series]="[{label: 'sociální stabilita'}]"></app-chart>
  <app-chart [series]="[{label: 'potřeba lůžek', unit: '%'}, {label: '100 %'}]"></app-chart>
</app-row>
