<div class="tabs">
  <div class="tabs-header">
    <div class="tabs-header-content">
      <div class="tabs-header-item" [class.is-active]="activeTab === index" [matTooltip]="tab.label" matRipple
          (click)="activeTab = index" *ngFor="let tab of templateData; let index = index">
        <span class="tab-icon">
          <cvd-icon *ngIf="tab.svgIcon" [svgIcon]="tab.svgIcon"></cvd-icon>
          <cvd-icon *ngIf="tab.icon">{{tab.icon}}</cvd-icon>
          <span>
            {{ tab.prefix }}{{ tab.headerData$ | async | formatNumber:tab.pipe[0]:tab.pipe[1] }}
          </span>
        </span>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let content of templateData; let index = index">
    <div
      class="tab-content"
      *ngIf="activeTab === index">
      <h3>
        {{ content.label }}
      </h3>

      <cvd-line-graph
        *ngIf="!content.multiLineData$"
        [dataLabelNodes]="dataLabelNodes"
        [singleLineTick$]="content.data$"
        [scopeFormControl]="scopeFormControl"
        [customOptions]="content.customOptions">
      </cvd-line-graph>

      <cvd-line-graph
        *ngIf="content.multiLineData$"
        [dataLabelNodes]="dataLabelNodes"
        [multiLineTick$]="content.multiLineData$"
        [scopeFormControl]="scopeFormControl"
        [customOptions]="content.customOptions">
      </cvd-line-graph>
    </div>
  </ng-container>

</div>

<cvd-events-layout></cvd-events-layout>

<cvd-help-tooltip>
  <h3>Grafy</h3>

  <p>
    Hlavní zdroj informací o aktuální situaci ve státě. Překlikávat můžete mezi těmito čtyřmi grafy:
  </p>

  <ul>
    <li>
      <strong>Nové nakažení</strong>
      Tento graf zobrazuje, kolik lidí se v daný den nově nakazilo
    </li>
    <li>
      <strong>Zemřelí</strong>
      Počet zemřelých denně. Tento graf zobrazuje lidi, kteří zemřeli přímo na Covid-19.
      Mějte ale na mysli i další okolnosti. Například přetížené nemocnice bez volných kapacit vedou k více úmrtím.
    </li>
    <li>
      <strong>Náklady</strong>
      Graf nákladů značí ztráty, které státní kase i ekonomice jako celku pandemie přináší.
      Zavádění opatření, vyplácení kompenzací i hospitalizace &ndash; to vše stojí peníze.
    </li>
    <li>
      <strong>Imunizovaní</strong>
      Tento graf zobrazuje jak obyvatele, kteří prodělali Covid-19 a stali se tak na několik měsíců imunní,
      tak i lidi, kteří imunitu získali očkováním.
    </li>
  </ul>

  <p>
    <em>Grafy v sobě nesou mnoho zajímavých informací. Jestli ale chcete s pandemii efektivně zatočit,
    doporučujeme se orientovat hlavně podle grafu nově nakažených,
    který odráží, jak se vám zvládání pandemie momentálně (ne)daří.</em>
  </p>
</cvd-help-tooltip>
