@import '~src/definitions';

:host {
  @include flex-container;
  position: relative;
}


.chart {
  position: relative;
  width: 100%;
  min-height: unset;
  padding-bottom: 46.6%;
}

.chart-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
