@import '~src/definitions';

:host {
  @include panel;
  display: flex; // TODO move to mixin panel and check all other panels
  text-align: left;
}

.figure {
  text-align: center;
}

.model-img {
  width: 100%;
  max-width: 700px;
}

cvd-button {
  display: table;
  margin: 1rem auto;
}
