<div class="tabs">
  <div class="tabs-header">
    <div
      class="tabs-header-item"
      [class.is-active]="activeTab === index"
      [matTooltip]="tab.label"
      matRipple
      (click)="activeTab = index"
      *ngFor="let tab of templateData; let index = index">
      <span class="tab-icon">
        <cvd-icon [svgIcon]="tab.icon"></cvd-icon>
        <span>
          {{ (tab.headerData$ | async | formatNumber:tab.pipe[0]:tab.pipe[1]) }}
        </span>
      </span>
    </div>
  </div>

  <ng-container *ngFor="let content of templateData; let index = index">
    <div *ngIf="activeTab === index">
      <h3>
        {{ content.label }}
      </h3>

      <cvd-line-graph
        *ngIf="!content.multiLineData$"
        [singleLineTick$]="content.data$"
        [scopeFormControl]="scopeFormControl"
        [customOptions]="content.customOptions">
      </cvd-line-graph>

      <cvd-line-graph
        *ngIf="content.multiLineData$"
        [multiLineTick$]="content.multiLineData$"
        [scopeFormControl]="scopeFormControl">
      </cvd-line-graph>
    </div>
  </ng-container>

</div>

<cvd-events-layout></cvd-events-layout>
