@import '~src/definitions';

:host {
  @include panel;
  position: relative;
}

cvd-line-graph {
  padding-top: 1.5rem;
}

.mat-tab-group {

  ::ng-deep {
    .mat-tab-body-content {
      overflow: hidden;
    }

    .mat-tab-labels {
      flex-wrap: wrap;
    }

    .mat-tab-label {
      height: 3.5rem;
      padding: 0 2rem;
    }
  }
}
