@import '~src/definitions';
@import '~src/material-definitions';

:host {
  @include panel;
}

cvd-line-graph {
  padding-top: 1.5rem;
}

.tabs {
  width: 100%;
}

.tabs-header {
  display: flex;
  border-bottom: 1px solid $dark-bg-lighter-10;
}

.tabs-header-item {
  width: 25%;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 300ms;

  &.is-active {
    border-color: mat-color(map-get($theme, primary))
  }
}

.tab-icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  cvd-icon {
    margin-right: 1rem;
  }
}

.tab-content {
  h3 {
    display: block;
    margin: 1rem 0;
    text-align: center;
  }
}
