:host {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: flex-start;
  -webkit-flex: 0 0 auto; // Safari

  a {
    margin-right: 1rem;
  }

  &.is-compact {
    .logo {
      width: 80px;
    }
  }

  @media only screen and (max-width: 767px) {
    padding-bottom: 1rem;

    .logo {
      margin-left: 3rem;
    }
  }

  @media only screen and (min-width: 300px) {
    .logo {
      width: 120px;
    }
  }

  @media only screen and (min-width: 768px) {
    .logo {
      width: 140px;
    }
  }

  @media only screen and (min-width: 1384px) {
    .logo {
      width: 180px;
    }
  }
}
