<div
  class="chart-overlay"
  [@inOutAnimation]
  *ngIf="gameService.currentEvent">
  <h1>
    {{gameService.currentEvent.title | translate:translateParams}}
  </h1>

  <cvd-row [grow]="2" *ngIf="gameService.currentEvent.text">
    <div [innerHtml]="gameService.currentEvent.text | translate:translateParams"></div>
  </cvd-row>

  <cvd-row [grow]="2" *ngIf="gameService.currentEvent.help" class="chart-overlay-help">
    <div [innerHtml]="gameService.currentEvent.help | translate:translateParams"></div>
  </cvd-row>

  <cvd-row grow wrap>
    <cvd-button
      *ngFor="let choice of gameService.currentEvent.choices; let index = index"
      [cvdAutofocus]="index === 0"
      (click)="resumeEvent(gameService.currentEvent, choice)">
      {{choice.buttonLabel}}
    </cvd-button>

    <cvd-button
      *ngIf="!gameService.currentEvent.choices?.length"
      [cvdAutofocus]="true"
      (click)="resumeEvent(gameService.currentEvent)">
      {{'OK' | translate}}
    </cvd-button>
  </cvd-row>
</div>
