@import '~src/definitions';

:host {
  @include flex-container;
  position: relative;
}

.slider {
  position: absolute;
  top: 1.75rem;
  left: 7.0rem;

  label {
    margin-left: 0.8rem;
  }
}

.chart {
  width: 100%;
  height: 100%;
}
