<cvd-col grow>

  <cvd-row>
    <li *ngFor="let serie of series" [ngStyle]="{color: serie.color}">
      {{serie.label}} <span *ngIf="serie.unit">[{{serie.unit}}]</span>
    </li>
  </cvd-row>

  <div grow class="chart">
    <cvd-line-graph [title]="series[0].label" [setData]="data$ | async"></cvd-line-graph>
  </div>

<!--  This is temporary code -->
  <cvd-row>
<!--    I had to put z-index fot btn to be clickable.. ? -->
    <button style="width: 180px; z-index: 100" (click)="addData(undefined)">Add node</button>
    <button style="width: 180px; z-index: 100" (click)="addData('Zavření škol')">Add node - zavření škol</button>
  </cvd-row>
  <cvd-row>
    <button style="width: 180px; z-index: 100" (click)="addData('Otevření škol')">Add node - otevření škol</button>
    <button style="width: 180px; z-index: 100" (click)="addData('Zákaz všeho')">Add node - zákaz všeho</button>
  </cvd-row>
  <cvd-row>
    <button style="width: 180px; z-index: 100" (click)="removeData()">Remove last node</button>
  </cvd-row>

</cvd-col>
