<cvd-col grow alignItems="stretch" [spacing]="3">

  <cvd-row>
    <li *ngFor="let serie of series" [ngStyle]="{color: serie.color}">
      {{serie.label}} <span *ngIf="serie.unit">[{{serie.unit}}]</span>
    </li>
  </cvd-row>

  <cvd-line-graph #lineGraph grow [reset$]="gameService.reset$" [title]="series[0].label" [tick$]="data$">
  </cvd-line-graph>

  <cvd-row wrap>
    <cvd-button (click)="currentState = 'ok'">Change OK!</cvd-button>
    <cvd-button (click)="currentState = 'warn'">Change Warn!</cvd-button>
    <cvd-button (click)="currentState = 'critical'">Change Critical!</cvd-button>
  </cvd-row>

</cvd-col>
