@import '~src/definitions';

:host {
  @include panel;
  display: flex; // TODO move to mixin panel and check all other panels

  @include apply-themes {
    .color-virus {
      color: mat-color(map-get($theme, warn));
    }

    .color-money {
      color: mat-color(map-get($theme, accent));
    }
  }
}

p {
  margin-bottom: 2em;
}

h2 {
  text-align: center;
}

.content {
  text-align: center;
}

