// slightly increased selector specificity
html {

  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    min-width: 6.4rem;
    line-height: 3.6rem;
    padding: 0 1.6rem;
    border-radius: .4rem;
  }

  .mat-raised-button {
    min-width: 6.4rem;
    line-height: 3.6rem;
    padding: 0 1.6rem;
    border-radius: .4rem;
  }

  .mat-stroked-button {
    border: .1rem solid currentColor;
    padding: 0 1.5rem;
    line-height: 3.4rem
  }

  .mat-stroked-button .mat-button-ripple.mat-ripple, .mat-stroked-button .mat-button-focus-overlay {
    top: -.1rem;
    left: -.1rem;
    right: -.1rem;
    bottom: -.1rem
  }

  .mat-fab {
    min-width: 6.4rem;
    line-height: 3.6rem;
    padding: 0 1.6rem;
    border-radius: .4rem;
    width: 5.6rem;
    height: 5.6rem;
  }

  .mat-fab .mat-button-wrapper {
    padding: 1.6rem 0;
    line-height: 2.4rem
  }

  .mat-mini-fab {
    min-width: 6.4rem;
    line-height: 3.6rem;
    padding: 0 1.6rem;
    border-radius: .4rem;
    width: 4.0rem;
    height: 4.0rem;
  }

  .mat-mini-fab .mat-button-wrapper {
    padding: .8rem 0;
    line-height: 2.4rem
  }

  .mat-icon-button {
    width: 4.0rem;
    height: 4.0rem;
    line-height: 4.0rem;
  }

  .mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 2.4rem
  }

  .cdk-high-contrast-active .mat-button, .cdk-high-contrast-active .mat-flat-button, .cdk-high-contrast-active .mat-raised-button, .cdk-high-contrast-active .mat-icon-button, .cdk-high-contrast-active .mat-fab, .cdk-high-contrast-active .mat-mini-fab {
    outline: solid .1rem
  }

  .cdk-high-contrast-active .mat-button-base.cdk-keyboard-focused, .cdk-high-contrast-active .mat-button-base.cdk-program-focused {
    outline: solid .3rem
  }

  .mat-tooltip.tooltip {
    font-size: 1.2rem;
  }

  .mat-slider {
    padding: .2rem;
  }

  .mat-slider-focus-ring {
    width: 3.0rem;
    height: 3.0rem;
  }

  .mat-slider-thumb {
    right: -1.0rem;
    bottom: -1.0rem;
    width: 2.0rem;
    height: 2.0rem;
    border: .3rem solid transparent;
  }

  .mat-slider-thumb-label {
    width: 2.8rem;
    height: 2.8rem;
  }

  .cdk-high-contrast-active .mat-slider-thumb-label {
    outline: solid .1rem
  }

  .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
    border-width: .2rem;
  }

  .mat-slider-disabled .mat-slider-thumb {
    border-width: .4rem;
  }

  .mat-slider-horizontal {
    height: 2.5rem;
    min-width: 10.0rem
  }

  .mat-slider-horizontal .mat-slider-wrapper {
    height: .2rem;
    top: 1.15rem;
    left: .8rem;
    right: .8rem
  }

  .mat-slider-horizontal .mat-slider-wrapper::after {
    height: .2rem;
    border-left-width: .2rem;
  }

  .mat-slider-horizontal .mat-slider-track-wrapper {
    height: .2rem;
  }

  .mat-slider-horizontal .mat-slider-track-fill {
    height: .2rem;
  }

  .mat-slider-horizontal .mat-slider-track-background {
    height: .2rem;
  }

  .mat-slider-horizontal .mat-slider-ticks-container {
    height: .2rem;
  }

  .cdk-high-contrast-active .mat-slider-horizontal .mat-slider-ticks-container {
    outline: solid .2rem;
    top: .1rem
  }

  .mat-slider-horizontal .mat-slider-ticks {
    height: .2rem;
  }

  .mat-slider-horizontal .mat-slider-focus-ring {
    top: -1.5rem;
    right: -1.5rem
  }

  .mat-slider-horizontal .mat-slider-thumb-label {
    right: -1.4rem;
    top: -4.0rem;
    transform: translateY(2.6rem) scale(0.01) rotate(45deg)
  }

  .mat-slider-vertical {
    width: 5.0rem;
    min-height: 10.0rem
  }

  .mat-slider-vertical .mat-slider-wrapper {
    width: .2rem;
    top: .8rem;
    bottom: .8rem;
    left: 2.3rem
  }

  .mat-slider-vertical .mat-slider-wrapper::after {
    width: .2rem;
    border-top-width: .2rem;
  }

  .mat-slider-vertical .mat-slider-track-wrapper {
    width: .2rem
  }

  .mat-slider-vertical .mat-slider-track-fill {
    width: .2rem;
    transform: scaleY(0)
  }

  .mat-slider-vertical .mat-slider-track-background {
    width: .2rem;
    transform: scaleY(1)
  }

  .mat-slider-vertical .mat-slider-ticks-container {
    width: .2rem;
  }

  .cdk-high-contrast-active .mat-slider-vertical .mat-slider-ticks-container {
    outline: solid .2rem;
    left: .1rem
  }

  .mat-slider-vertical .mat-slider-focus-ring {
    bottom: -1.5rem;
    left: -1.5rem
  }

  .mat-slider-vertical .mat-slider-ticks {
    width: .2rem;
  }

  .mat-slider-vertical .mat-slider-thumb-label {
    bottom: -1.4rem;
    left: -4.0rem;
    transform: translateX(2.6rem) scale(0.01) rotate(-45deg)
  }

  .mat-slide-toggle {
    height: 2.4rem;
    line-height: 2.4rem;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(1.6rem, 0, 0)
  }

  [dir=rtl] .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(-1.6rem, 0, 0)
  }

  [dir=rtl] .mat-slide-toggle-label-before .mat-slide-toggle-bar, .mat-slide-toggle-bar {
    margin-right: .8rem;
  }

  [dir=rtl] .mat-slide-toggle-bar, .mat-slide-toggle-label-before .mat-slide-toggle-bar {
    margin-left: .8rem;
  }

  .mat-slide-toggle-thumb-container {
    width: 2.0rem;
    height: 2.0rem;
    top: -.3rem;
  }

  .mat-slide-toggle-thumb {
    height: 2.0rem;
    width: 2.0rem;
  }

  .mat-slide-toggle-bar {
    width: 3.6rem;
    height: 1.4rem;
    border-radius: .8rem
  }

  .mat-slide-toggle-input {
    left: 1.0rem
  }

  [dir=rtl] .mat-slide-toggle-input {
    right: 1.0rem
  }

  .mat-slide-toggle .mat-slide-toggle-ripple {
    top: calc(50% - 2.0rem);
    left: calc(50% - 2.0rem);
    height: 4.0rem;
    width: 4.0rem;
  }

  .cdk-high-contrast-active .mat-slide-toggle-thumb, .cdk-high-contrast-active .mat-slide-toggle-bar {
    border: .1rem solid
  }

  .cdk-high-contrast-active .mat-slide-toggle.cdk-keyboard-focused .mat-slide-toggle-bar {
    outline: .2rem dotted;
    outline-offset: .5rem
  }


  .mat-button-toggle-standalone, .mat-button-toggle-group {
    border-radius: .2rem;
  }

  .cdk-high-contrast-active .mat-button-toggle-standalone, .cdk-high-contrast-active .mat-button-toggle-group {
    outline: solid .1rem
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border-radius: .4rem
  }

  .mat-button-toggle-label-content {
    line-height: 3.4rem;
    padding: 0 1.6rem;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 1.2rem;
    line-height: 3.1rem
  }

  .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: solid 3.6rem
  }

  .mat-button-toggle .mat-icon svg {
    vertical-align: middle;
  }

  .cdk-high-contrast-active .mat-button-toggle-checked.mat-button-toggle-appearance-standard .mat-button-toggle-focus-overlay {
    border-bottom: solid 50.0rem
  }

  mat-button-toggle-group {
    display: flex;
    height: 3.4rem;
  }

}
