@import 'material-definitions';

// Compute font config
@include mat-core($fontConfig);

// Theme Config
body {
  --primary-color: #9fe348;
  --primary-lighter-color: #e2f7c8;
  --primary-darker-color: #567b27;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};

  --accent-color: #47e3d9;
  --accent-lighter-color: #92e3d9;
  --accent-darker-color: #287d77;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};

  --warn-color: #ff4851;
  --warn-lighter-color: #fecdd0;
  --warn-darker-color: #7c272d;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 3.64rem;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 2.4rem;
  font-family: 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}

@mixin apply-themes() {
  // use definitions with default $theme
  @content;

  // alter $theme variable
  $old: $theme;
  $theme: $altTheme !global;

  // prefix with theme-alternate class
  @at-root .theme-alternate #{&} {
    // use definitions with alternate $theme
    @content;
  }

  // restore default $theme variable
  $theme: $old !global;
}
