html, body {
  height: 100%;
  font-size: 8px;
}

body {
  margin: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
    margin: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11px;
    margin: 1.5rem;
  }
}

@media only screen and (min-width: 1384px) {
  html {
    font-size: 12px;
    margin: 2rem;
  }
}
