@import 'material-definitions.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 6px;

  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

cvd-app {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 9px;

    cvd-app {
      padding: 1rem 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;

    cvd-app {
      padding: 2rem 1.2rem;
    }
  }
}

@media only screen and (min-width: 1384px) {
  html {
    font-size: 11px;

    cvd-app {
      padding: 2rem 1.5rem;
    }
  }
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

a[href] {
  color: mat-color($mat-accent, main);;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

// utility classes
.u-nowrap {
  white-space: nowrap
}
