<cvd-row wrap alignItems="flex-start" [spacing]="0">
  Dnes je {{today}}
</cvd-row>

<mat-divider></mat-divider>

<cvd-row wrap alignItems="flex-start" [spacing]="4">
  <cvd-col grow class="chapter" alignItems="flex-start">
    <cvd-row class="item">
      <cvd-icon>thumbs_up_down</cvd-icon>
        Společenská stabilita
        <mat-chip-list>
          <mat-chip selected [color]="getColor$(stat$('stability'), 15, -15) | async">{{stat$('stability') | async | formatNumber:false:false:1}}</mat-chip>
        </mat-chip-list>
    </cvd-row>

  </cvd-col>

  <cvd-col grow class="chapter" alignItems="flex-start">
    <cvd-row class="item">
      <cvd-icon svgIcon="hospital"></cvd-icon>
        Vytíženost nemocnic
        <mat-chip-list>
          <mat-chip selected [color]="getColor$(stat$('hospitalsUtilization'), .7, .9) | async">{{stat$('hospitalsUtilization') | async | formatPercentage}}</mat-chip>
        </mat-chip-list>
    </cvd-row>
  </cvd-col>
</cvd-row>

<cvd-help-tooltip>
  <h3>Statistiky</h3>

  <p>
    Statistiky znázorňující aktuálním vývoj situace.
    Můžete si z nich udělat představu o funkčnosti zavedených opatření.
    Zároveň zobrazují procento imunity. Jakmile ukazatel imunity dosáhne [TODO X%], šíření nákazy se minimalizuje a hra končí.
  </p>

  <p>
    Současně nezapomínejte sledovat ukazatel společenské stability.
    Tento ukazatel dynamicky reaguje na vaše herní rozhodnutí. Pokud dosáhne minima, hra končí.
  </p>

  <p>
    [TODO] vysvětlivky ikonek
  </p>
</cvd-help-tooltip>
