@import '~src/definitions';

:host {
  @include panel;
  display: block;

  @include apply-themes {
    .color-virus {
      color: mat-color(map-get($theme, warn));
    }

    .color-medicine {
      color: mat-color(map-get($theme, accent));
    }
  }
}

.item {
  margin: 0.75rem 0;

  cvd-icon {
    padding-right: 1rem;
  }
}

small {
  color: $light-accent-text;
  font-size: 75%;
}

mat-divider {
  margin: 1em 0;
}
