@import '~src/material-theme';

:host {
  min-width: 10rem;
  min-height: 10rem;
  padding: 1rem;

  @include apply-themes {
    background-color: mat-color(map-get($theme, background), card);

    .color-virus {
      color: mat-color(map-get($theme, warn));
    }

    .color-medicine {
      color: mat-color(map-get($theme, accent));
    }
  }
}
